@import "./mixings";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    @include flexd (row);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

input {
    border: 0;
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 5px;
}

a {
    text-decoration: none;
}